/* PADRONIZAÇÃO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-cinza: #34425b;
  --color-cinzaEscuro: #1d1f2a;
  --color-marromClaro: #302221;
  --color-marrom: #211510;
  --color-marromEscuro: #221918;
  --color-azulLogo: #00d1ff;
  --color-amarelo: #ffe532;
  --color-amareloMedio: #f8b700;
  --color-amareloEscuro: #b06601;
  --color-bege: #f7f0e2;
  --color-begeEscuro: #eaddc1;
  --line-height: 1.5rem;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1.8rem;
  background-color: var(--color-cinza);
  color: var(--color-amarelo);
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  height: 8rem;
  background-color: var(--color-cinzaEscuro);
  color: var(--color-azulLogo);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

/* LOGO */

.logo-link {
  display: flex;
  text-decoration: none;
  height: 7rem;
  color: var(--color-azulLogo);
}
/* NAVEGAÇÃO */

header ul {
  display: flex;
  align-items: center;
  width: 100%;
  list-style-type: none;
  gap: 2rem;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color-azulLogo);
}

.nav-item:active,
.nav-item:visited,
.logo-link {
  color: var(--color-azulLogo);
}

.nav-item:hover,
.logo-link:hover {
  font-weight: bold;
  color: var(--color-amarelo);
  transition: 0.3s;
}

/* BOTAO NAVEGACAO */

.nav-btn {
  text-decoration: none;
  color: var(--color-cinza);
  background-color: var(--color-amareloMedio);
  padding: 1rem;
  border: 1px solid var(--color-cinza);
  border-radius: 1rem;
}

.nav-btn:active,
.nav-btn:visited {
  color: var(--color-cinza);
  background-color: var(--color-amareloMedio);
}

.nav-btn:hover {
  font-weight: bold;
  opacity: 0.9;
  transition: 0.3s;
}

/* SEÇÃO PRINCIPAL */
#container {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.sobre {
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 10px var(--color-amareloMedio);
  border-radius: 1rem;
}

.sobre h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.sobre p {
  text-align: justify;
}
