/* PADRONIZAÇÃO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-background: #f7f0e2;
  --color-marrom: #211510;
  --color-marromClaro: #302221;
  --color-marromEscuro: #221918;
  --color-azulLogo: #00d1ff;
  --color-botaoDestaque: #f8b700;
  --color-text: #b06601;
  --color-amareloSimbolo: #ffe532;
  --color-cinzaSimbolo: #34425b;
  --color-textHeader: #eaddc1;
  --line-height: 1.5rem;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1.8rem;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10rem;
  background-color: var(--color-marromClaro);
  color: var(--color-textHeader);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 1rem;
  color: var(--color-textHeader);
}

header ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 2rem;
}

.nav-item,
.nav-itemLast {
  display: flex;
  text-decoration: none;
  color: var(--color-textHeader);
}

.nav-itemLast {
  margin-right: 10rem;
}

.nav-item:active,
.nav-item:visited,
.logo-link {
  color: var(--color-textHeader);
}

.nav-item:hover,
.logo-link:hover {
  font-weight: bold;
  color: var(--color-text);
  transition: 0.3s;
}
